main {
    background-color: #000000;
}

footer {
    position: relative;
    z-index: 2;
}

.video-señal {
    position: absolute;
    width: 100%;
    overflow: hidden;
    left: 0;
    top: 0;    
    animation: oculta 5s forwards;
    opacity: 1;
}

.video-señal video {
    width: 100%;
}

@keyframes oculta {
    90%, 92%, 94%, 96%, 98%, 100% {
        opacity: 0;
     }

    85%, 91%, 93%, 95%, 97%, 99% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
    }
    
}
.texto-moviles {
    display: none;
}

.capa-cine {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    animation: oculta 5s;
}

#cine {
    width: 100%;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--color-primario);
}

.mensaje {
    width: 59%;
    position: absolute;
    top: 15%;
    left: 20.5%;
    text-align: center;
    font-family: var(--fuente-links);
    font-weight: 600;
    color: #6f6f81;
    font-size: 1.3rem;
}

.mensaje p {
    margin: 0rem 0;
}

.mensaje-2 {
    position: absolute;
    font-family: var(--fuente-links);
    font-weight: 600;
    color: #ffffff;
    width: 100%;
    text-align: center;
    bottom: 15%;
    animation: oculta 5s;
    overflow: hidden;
}
.boton {
    background-color: var(--color-primario);
    color: white;
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    font-family: var(--fuente-links);
    border-radius: 0.6rem;
    border: 0px;
}

.boton:hover {
    color: #0a58ca;
}


@media only screen and (max-width:1116px){
    .mensaje-2{
        bottom: 30%;
        font-size: 0.9rem;
    }
}

@media only screen and (max-width:960px){
    .mensaje {
        top: 11%;
    }
    footer {
        padding-top: 20vh;
    }
}

@media only screen and (max-width:875px){
    .mensaje-2{
        bottom: 39%;
        font-size: 0.9rem;
    }
}

@media only screen and (max-width:720px){
    .mensaje-2{
        position: static;
        margin-bottom: 1rem;
        animation: oculta 0s;

    }
    .texto-moviles {
        display: block;
    }
    .texto-dispositivos-grandes{
        display: none;
    }
    .video-señal {
        display: none;
    }
}

@media only screen and (max-width:700px){
    .mensaje {
        top: 9%;
        font-size: 1.1rem;
    }
    .mensaje-2 {
        height: 30vh;
    }
}

@media only screen and (max-width:390px){
    .mensaje-2 {
        height: 40vh;
    }
}

@media only screen and (max-width:244px){
    .mensaje {
        top: 9%;
    }
    .mensaje-2 {
        height: 45vh;
    }
}
