nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.logo-nav {
    width: 9rem;
}

.navbar {
min-height: 5.5rem;
background-color: var(--color-dark);
}

.navbar-collapse {
    background-color: var(--color-dark);
}

.navbar a {
    color: white;
}

.nav-link:hover {
    color: var(--color-primario) !important;
}
.nav-link:focus {
    color: var(--color-activo) !important;
}

.dropdown-menu a{
    color: var(--color-dark);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.custom-toggler.navbar-toggler {
    border-color: rgba(255, 255, 255,0.3);
  } 

.botones-nav {
    width: 6rem;
    padding: 1px 6px;
    height: 40px;
    background-color: var(--color-dark);
    color: var(--color-primario);
    border-color: var(--color-primario);
    border-radius: 0.5rem;
}

.botones-nav:hover {
    background-color:var(--color-primario) ;
    color: white;
}

.botones-nav:active {
    background-color:var(--color-activo) ;
    color: white;
}
@media only screen and (max-width:258px){
    .contiene-login {
        display: flex;
        flex-direction: column;
    }
}
 
  
  
